* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(99, 99, 99);
    height: 150px;
    position: relative;
    overflow: hidden;
}
nav {
    width: 14%;
    min-height: 500px;
    background-color: rgb(255, 148, 148);
    float: left;
}
h2 {
    font-size: 3vw;
    text-align: center;
}

main {
    width: 65%;
    min-height: 500px;
    background-color: rgb(129, 129, 129);
    float: left;
}

aside {
    width: 21%;
    min-height: 500px;
    background-color: rgb(255, 194, 232);
    float: left;
}
footer {
    background-color: rgb(245, 182, 105);
    height: 200px;
    clear: both;
}
@media only screen and (max-width: 800px){
    nav, main, aside {
        width: 100%;
        min-height: auto;
        float: none;
        padding: 10px;
        text-align: center;
    }
}

h1 {
    font-size: 10vw;
    z-index: 2;
    color: white;
    position: relative;
}
article {
    border: 2px dashed rgb(248, 158, 158);
    margin: 10px;
    padding: 10px;
}
.bgvideo {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bgvideo video {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: 1;
}
.myButton {
    margin: 6px;
    background: linear-gradient(to bottom, #11998e 5%, #38ef7d 100%);
    background-color: #11998e;
    border-radius: 28px;
    border: 6px solid #62ec72;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background: linear-gradient(to bottom, #38ef7d 5%, #11998e 100%);
    background-color: #38ef7d;
    box-shadow: 0px 0px 5px #ff9c9c;
}

.myButton:active {
    position: relative;
    top: 2px;
}
@media only screen and (max-width: 600px){
    nav, main, aside {
       width: 100%;
    }
}